.lesson-container {

  /* max-width:1200px; */

  margin: auto;

  padding: 40px 20px;
}

.lesson-container h1 {

  margin-bottom: 30px;
}

.lesson-grid {

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
}

.page-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

/* pagination */

.pagination {

  margin-top: 35px;

  display: flex;

  justify-content: center;

  gap: 10px;
}

.pagination button {

  padding: 6px 12px;

  border: none;

  border-radius: 6px;

  background: #eee;

  cursor: pointer;
}

.pagination button.active {

  background: #2563eb;

  color: white;
}