.lesson-container {

  /* max-width:1200px; */

  margin: auto;

  padding: 60px 20px;
}

@media (max-width:600px) {

  .lesson-container {
    padding: 40px 0px;
  }
}

.lesson-container h1 {

 font-size: 32px;
}

.lesson-grid {

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
}

/* tablet */

@media (max-width:1024px) {

  .lesson-grid {

    grid-template-columns: repeat(2, 1fr);

  }

}

/* mobile */

@media (max-width:600px) {

  .lesson-grid {

    grid-template-columns: 1fr;

    gap: 16px;

  }

}

.page-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

/* pagination */

.pagination {

  margin-top: 35px;

  display: flex;

  justify-content: center;

  gap: 10px;
}

.pagination button {

  padding: 6px 12px;

  border: none;

  border-radius: 6px;

  background: #eee;

  cursor: pointer;
}

.pagination button.active {

  background: #2563eb;

  color: white;
}