.loading-box {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items:start;

  background: transparent;
  z-index: 9999;
}

.loading-box-content {
  display: flex;
  /* flex-direction: column; */
}

/* atom animation */

.loading-box-atom-loader {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
}



@keyframes rotate {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}
