.header {
    position: absolute;
    z-index: 0;
}

.clock {
    position: absolute;
    z-index: 100;
    width: 3%;
}

.clock p {
    position: absolute;
    top: 35%;
    left: 5%;
    right: 3%;
    display: -webkit-box;
    z-index: 11;
    -webkit-line-clamp: 1;
    /* tối đa 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;

}

.count {
    position: absolute;
    z-index: 100;
    width: 5%;
}

.count p {
    position: absolute;
    top: 35%;
    left: 5%;
    right: 3%;
    display: -webkit-box;
    z-index: 11;
    -webkit-line-clamp: 1;
    /* tối đa 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    color: #a05c3d;
}


.list-lecture-undo {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 10;
    width: 3%;
}

.header p {
    position: absolute;
    top: 30%;
    left: 5%;
    right: 3%;
    display: -webkit-box;
    z-index: 11;
    -webkit-line-clamp: 1;
    /* tối đa 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.header span {
    position: absolute;
    top: 55%;
    left: 5%;
    right: 3%;
    display: -webkit-box;
    z-index: 11;
    -webkit-line-clamp: 1;
    /* tối đa 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.container-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 20px;
    position: fixed;
    z-index: 10;
}

.home-quiz {
    position: relative;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    justify-items: center;
    z-index: 10;
}

.content-quiz {
    overflow-y: auto;
    scrollbar-width: none;
    z-index: 10;
}

.question-block {
    background: radial-gradient(circle at 20% 20%, #FFE4E1 0%, transparent 40%),
        radial-gradient(circle at 80% 20%, #DCD0FF 0%, transparent 40%),
        radial-gradient(circle at 50% 80%, #B0E0E6 0%, transparent 50%),
        #FFFFFF;

}

.quiz-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-container {
    margin-top: 30px;
}

.review-question {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.review-option {
    padding: 10px;
    border-radius: 6px;
    margin: 5px 0;
    border: 1px solid #ddd;
}

/* đáp án đúng */
.review-option.correct {
    background: #e8f5e9;
    border: 1px solid #4caf50;
}

/* chọn sai */
.review-option.wrong {
    background: #fdecea;
    border: 1px solid #f44336;
}

.quiz-modal-content {
    position: relative;
    aspect-ratio: 1314 / 839;
    width: 30%;
}

.quiz-modal-content-name {
    position: absolute;
    width: 50%;
    aspect-ratio: 610 / 79;
    top: 45%;
    left: 25%;
    align-items: center;
    display: flex;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.quiz-modal-content-name input {
    position: absolute;
    right: 0;
    width: 75%;
    background-color: transparent;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    /* 👈 QUAN TRỌNG NHẤT */
}

.quiz-modal-content-class {
    position: absolute;
    width: 50%;
    aspect-ratio: 610 / 79;
    top: 56%;
    left: 25%;
    align-items: center;
    display: flex;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.quiz-modal-content-class input {
    position: absolute;
    right: 0;
    width: 75%;
    background-color: transparent;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    /* 👈 QUAN TRỌNG NHẤT */
}

.quiz-modal-content-start {
    position: absolute;
    top: 70%;
    left: 25%;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    /* 👈 QUAN TRỌNG NHẤT */
    background-size: cover;
    background-position: center;
    width: 50%;
    aspect-ratio: 616 / 106
}


.quiz-modal-content-start {
    cursor: pointer;
    /* 👈 hiện bàn tay */
    user-select: none;
    /* 👈 không bị bôi đen text */

    transition: all 0.2s ease;
    /* 👈 mượt */
}

/* hover */
.quiz-modal-content-start:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

/* khi click */
.quiz-modal-content-start:active {
    transform: scale(0.95);
}

.quiz-back {
    cursor: pointer;
    /* 👈 hiện bàn tay */
    user-select: none;
    /* 👈 không bị bôi đen text */

    transition: all 0.2s ease;
    /* 👈 mượt */
}

/* hover */
.quiz-back:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

/* khi click */
.quiz-back:active {
    transform: scale(0.95);
}

.quiz-next {
    cursor: pointer;
    /* 👈 hiện bàn tay */
    user-select: none;
    /* 👈 không bị bôi đen text */

    transition: all 0.2s ease;
    /* 👈 mượt */
}

/* hover */
.quiz-next:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

/* khi click */
.quiz-next:active {
    transform: scale(0.95);
}

.quiz-send {
    cursor: pointer;
    /* 👈 hiện bàn tay */
    user-select: none;
    /* 👈 không bị bôi đen text */

    transition: all 0.2s ease;
    /* 👈 mượt */
}

/* hover */
.quiz-send:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

/* khi click */
.quiz-send:active {
    transform: scale(0.95);
}



.clock {
    cursor: pointer;
    /* 👈 hiện bàn tay */
    user-select: none;
    /* 👈 không bị bôi đen text */

    transition: all 0.2s ease;
    /* 👈 mượt */
    opacity: 0.9;
}

/* hover */
.clock:hover {
    transform: translateY(-2px);
    opacity: 1;
}

/* khi click */
.clock:active {
    transform: scale(0.95);
}