.header {
    position: absolute;
}

.list-lecture-undo {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 10;
    width: 3%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 20px;
    position: fixed;
}

.home {
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    background: radial-gradient(circle at 20% 20%, #FFE4E1 0%, transparent 40%),
        radial-gradient(circle at 80% 20%, #DCD0FF 0%, transparent 40%),
        radial-gradient(circle at 50% 80%, #B0E0E6 0%, transparent 50%),
        #FFFFFF;
}



.item-know {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    flex-shrink: 0;
    /* 👈 QUAN TRỌNG */
    background-position-x: right;
}


/* hover card */
.item-know:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.content-knowledge {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 👈 4 item mỗi hàng */
    gap: 20px;

    overflow-y: auto;
    scrollbar-width: none;
}

.content-knowledge::-webkit-scrollbar {
    display: none;
}

.content-knowledge div p {
    position: absolute;
    font-weight: bold;
    color: black;
    z-index: 12;
}

.item-know p {
    position: absolute;
    bottom: 20%;
    left: 8%;
    right: 8%;

    font-weight: bold;
    color: black;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* tối đa 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.item-label {
    position: absolute;
    top: 0;
    left: 10%;
    border-radius: 4px;
    font-weight: bold;
    color: #FFFFFF;
    z-index: 10;
}