* {
    margin: 0;
    padding: 0;


}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg,
            #EAF7FF,
            #E3F6FF,
            #F0FBFF);
}

